/* link to import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300&display=swap');

/* styles to apply to all elements */

body {
    background-color: #E9DCBE;
    color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    flex-grow: 1;
}

/* heading styling */

h1, h2, h3 {
    font-family: 'Lobster', sans-serif;
    color: #8B0000;
}

.page-heading {
    text-align: center;
}

/* navbar styling */

#site-logo {
    max-width: 100%;
    height: auto;
}

.menu-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

/* style for bake-detail page */

.headline-items {
    margin-top: 10px;
}

.stars {
    margin-bottom: 18px;
}

.comment-card {
    margin: 0 10px;
}

.comment-form {
    margin-top: 1.3em;
}

/* style for user-starred bakes */

.user-starred {
    color: gold;
}

.star-prompt {
    text-align: center;
}    

    /* style for bake cards and container */

.bakes-container {
    padding: 0 30px 0 45px;
}

.card-img-top {
    width: 100%;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}

.bake-link:hover,
.bake-link:focus {
    text-decoration-color: #8B0000;
}

.intro {
    color: #8B0000;
    text-align: center;
    margin-top: 30px;
    font-size: 120%;
}

.author, .card-title, .card-text, .comment-text {
    color: #8B0000;
}

.author {
    font-weight: bold;
}

.card {
    border-color: #8B0000;
    border-width: 2px;
    background-color: #fff8e7;
    margin: 25px 0 5px 0;
}

.detail-card {
    border: 2px solid #8B0000;
    background-color: #fff8e7;
    margin: 25px 0 5px 0;
    padding: 20px 0;
}

.bake-title {
    padding: 0 0 20px 0
}

.bake-detail-container {
    padding: 0 20px;
}

.best-for-link {
    color: #8B0000;
    text-decoration: underline;
}

.best-for-link:hover,
.best-for-link:focus {
    color: #8B0000;
    font-weight: 600;
    text-decoration: underline;
}

/* style for buttons */

.btn, .custom-file-upload, .page-link {
    color: #8B0000;
    border-color: #8B0000;
    border-width: 1.5px;
    background-color: #fff8e7;
    margin: 2px 5px 0 0;
}

.page-link {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 20px;
}

.page-link:hover,
.page-link:focus {
    color: #8B0000;
    border-color: #8B0000;
    border-width: 1.5px;
    background-color: #fff8e7;
    margin: 2px 5px 0 0;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 20px;
    font-weight: bold;
}

/* style for add, edit forms */

label {
    color: #8B0000;
    font-weight: bold;
    margin: 10px 0 0;
}

input[type=submit] {
    color: #8B0000;
    border-color: #8B0000;
    border-width: 1px;
    background-color: #fff8e7;
    margin: 2px 5px 0 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#div_id_featured_image .asteriskField {
    display: none;
}

.delete-bake {
    margin-bottom: 20px;
}

/* style for sign in, sign up, sign out forms */

.prompt {
    margin-top: 20px;
}

.prompt a {
    color: #000;
    text-decoration: underline;
}

.prompt a:hover,
.prompt a:focus {
    font-weight: 600;
}

.signup input, .login input {
    display: block;
    margin-top: 5px;
}

#id_remember {
    display: inline;
}

.btn-signup {
    margin-top: 20px;
}

/* style for footer */

footer {
    width: 100%;
}

footer ul {
    text-align: center;
    padding: 0;
}

footer li {
    display: inline-block;
    font-size: 200%;
}

footer i {
    color: #8B0000;
    margin: 3rem 1rem;
}

/* media queries */

/* medium to xl screen sizes above 768 pixels */

@media screen and (min-width: 768px) {
    footer i {
        margin: 3rem;
    }
}

/* large to xl screen sizes above 992 pixels */

@media screen and (min-width: 992px) {
    #site-logo {
        max-width: 50%;
        height: auto;
    }

    .bakes-container {
        padding: 0 40px 0 40px;
    }
    
}