/* link to import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300&display=swap');

/* styles to apply to all elements */

body {
    background-color: #E9DCBE;
    color: #000;
}

/* heading styling */

h1, h2 {
    font-family: 'Lobster', sans-serif;
}

/* navbar styling */

.text-dark {
    font-family: 'Poppins', sans-serif;
}

#site-logo {
    max-width: 100%;
    height: auto;
}

.menu-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

/* style for user-starred bakes */

.user-starred {
    color: gold;
}

/* style for footer */

footer {
    position: relative;
    bottom: 0;
    height: 75px;
    width: 100%;
}

footer ul {
    text-align: center;
    }

footer li {
    display: inline;
    font-size: 150%;
    }

footer i {
    color: black;
    margin: 1.25%;
}

/* media queries */

/* large to xl screen sizes above 992 pixels */

@media screen and (min-width: 992px) {
    #site-logo {
        max-width: 50%;
        height: auto;
    }

}