{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Page adapted from post-detail template in Code Institute's I Think Therefore I Blog project -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="bake-title">{{ bake.title }}</h1>
        </div>
        <hr>
        <div class="col-md-6">
            {% if "placeholder" in bake.featured_image.url %}
            <img class="card-img-top"
                src="https://res.cloudinary.com/frankiesanjana/image/upload/v1664720616/cookie-cutter-shapes_wfmdht.jpg" 
                    alt="Dough with cookie shapes cut out">
            {% else %}
            <img class="card-img-top" src=" {{ bake.featured_image.url }}" alt="{{ bake.title }}">
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <strong class="card-text text-muted h6">{{ bake.author }} | {{ bake.created_on }}
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'bake-star' bake.slug %}" method="POST">
                        {% csrf_token %}
                        {% if starred %}
                        <button type="submit" name="bake_id" value="{{bake.slug}}">
                        <i class="user-starred fa-solid fa-star"></i>
                        </button>
                        {% elif bake.number_of_stars > 0 %}
                        <button type="submit" name="bake_id" value="{{bake.slug}}">
                        <i class="fa-solid fa-star"></i>
                        </button>
                        {% else %}
                        <button type="submit" name="bake_id" value="{{bake.slug}}">
                        <i class="fa-regular fa-star"></i>
                        </button>
                        {% endif %}
                    </form>
                    {% else %}
                    {% if bake.number_of_stars > 0 %}
                    <i class="fa-solid fa-star"></i>
                    {% else %}
                    <i class="fa-regular fa-star"></i>
                    {% endif %}
                    {% endif %}
                    {{ bake.number_of_stars }}
                </strong>
                <p class="card-text">
                    {{ bake.description | safe }}
                </p>
                <p class="card-text">
                    {{ bake.get_difficulty_display | safe }}
                </p>
                <p class="card-text">
                    {{ bake.equipment | safe }}
                </p>
                <p class="card-text">
                    {{ bake.ingredients | safe }}
                </p>
                <p class="card-text">
                    {{ bake.method | safe }}
                </p>
                <div class="col-1">
                    {% with comments.count as total_comments %}
                    <strong class="text-secondary"><i class="far fa-comments"></i>
                        {{ total_comments }}</strong>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                      </svg>
                    Your comment is waiting for approval.
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
</div>





{% endblock %}