{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags and title -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="baking, bake, recipe, share, bread, cake, biscuits">
    <meta name="description" content="Bake It Better bake recipe sharing website. Share your baking recipes and learn from others">
    <title>Bake It Better | Learn, share and be inspired by baking experience</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://res.cloudinary.com/frankiesanjana/image/upload/v1677492885/apple-touch-icon_vbroxd.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/frankiesanjana/image/upload/v1677492892/favicon-32x32_kxzkls.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/frankiesanjana/image/upload/v1677492895/favicon-16x16_lxhemp.png">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <!-- Navigation -->
        <nav class="navbar navbar-light navbar-expand-lg">
            <div class="container-fluid">
                <div class="col">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img id="site-logo" src="https://res.cloudinary.com/frankiesanjana/image/upload/v1664965811/logo_xijbxy.png" alt="Bake It Better logo">
                    </a>
                </div>
                <div class="col menu-options">
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#nav-options" aria-controls="nav-options" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="nav-options">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link active text-dark" aria-current="page" href="{% url 'home' %}">Home</a>
                            </li>
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="{% url 'add-bake' %}">Add a Bake</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                        </svg>
                                        {{ user.username }}
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a class="dropdown-item text-dark" href="{% url 'my-starred-bakes' %}">My Starred Bakes</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-dark" href="{% url 'best-for-bakes' %}">Best For Bakes</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-dark" href="{% url 'account_logout' %}">Log Out</a>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="{% url 'account_signup' %}">Sign Up</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="{% url 'account_login' %}">Log In</a>
                                </li>
                            {% endif %}    
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- Messages to confirm user actions have been successful. Code in this section is copied from Code Institute's I Think Therefore I Blog walkthrough project -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert"> 
                    {{ message | safe }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Main section with block content -->
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <!-- Footer, including links to social media pages. These currently link to the respective homepages since Bake It Better does not yet have social media sites -->
    <footer>
        <ul>
            <li>
                <a href="https://www.facebook.com/" target="_blank" aria-label="Visit our Facebook page (opens in a new tab)" rel="noopener"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank" aria-label="Visit our Instagram page (opens in a new tab)" rel="noopener"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://www.twitter.com/" target="_blank" aria-label="Visit our Twitter page (opens in a new tab)" rel="noopener"><i class="fa-brands fa-twitter"></i></a>
            </li>
        </ul>
    </footer>
    <!-- Script for messages to fade from Code Institute's I Think Therefore I Blog walkthrough project -->
    <script>
        setTimeout(function () {
            let messages = document.getElementById("msg");
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 3000);
    </script>
    <!-- Script for Font Awesome icons-->
    <script src="https://kit.fontawesome.com/fa4fb059cf.js" crossorigin="anonymous"></script>
    <!-- Bootstrap scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>