{% extends "base.html" %}

{% block content %}

<div class="container-fluid bakes-container">
    <!-- Page heading -->
    <div class="row">
        <div class="col">
            <h1 class="page-heading">
                My Baking Planner: "Best For" Bakes
            </h1>
            <p class="intro">Welcome to your Best For bakes! Be prepared for any event by saving your favourite bake for that occasion in the planner below.</p>
            <p class="intro">To select a new bake for any occasion, visit our <a class="best-for-link" href="{% url 'home' %}">homepage</a> to choose a bake.</p>
        </div>
    </div>
    <br>
    <!-- Best For Bakes cards -->
    <div class="row">
        {% if user.is_authenticated %}
            {% for key, value in my_best_for_bakes.items %}
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="text-truncate">
                                {{ key }}
                            </h2>
                            {% if value is not None %}
                                <div class="image-container mb-2">
                                    {% if "placeholder" in value.bake.featured_image.url %}
                                        <img class="card-img-top"
                                            src="https://res.cloudinary.com/frankiesanjana/image/upload/v1664720616/cookie-cutter-shapes_wfmdht.jpg" 
                                                alt="Dough with cookie shapes cut out">
                                    {% else %}
                                        <img class="card-img-top" src=" {{ value.bake.featured_image.url }}" alt="{{ value.bake.title }}">
                                    {% endif %}
                                </div> 
                                <a href="{% url 'bake-detail' value.bake.slug %}" class="bake-link stretched-link">
                                    <h2 class="card-title text-truncate">{{ value.bake.title }}</h2>
                                </a>
                                <hr>
                                <p class="author h6">Author: {{ value.bake.author }}</p>
                                <p class="card-text">{{ value.bake.created_on}}</p>    
                            {% else %}
                                <div class="image-container mb-2">
                                    <img class="card-img-top" 
                                        src="https://res.cloudinary.com/frankiesanjana/image/upload/v1676895592/best-for-bake-add_myc5bk.png" 
                                            alt="Picture of question mark and cracked eggshell">
                                </div>
                                <a href="{% url 'home' %}" class="bake-link stretched-link">
                                    <h2 class="card-title text-truncate">What bake is best?</h2>
                                </a>
                                <hr>
                                <p class="author h6">Pick a bake at our homepage</p>
                                <p class="card-text">This can be replaced later!</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>
                You are not currently logged in. Please <a href="{% url 'account_login' %}">log in</a> to view your starred bakes.
            </p>
        {% endif %}
    </div>
    <!-- Pagination code from Code Institute's I Think Therefore I Blog walkthrough project -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}


