{% extends "base.html" %}

{% block content %}

<div class="container-fluid bakes-container">
    <div class="row">
        <!-- Bakes List Column -->
        <div class="col">
            <h1 class="page-heading">
                My Starred Bakes
            </h1>
            <div class="row">
                {% if user.is_authenticated %}
                    {% for bake in bake_list %}
                        {% if request.user in bake.stars.all %}
                            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="image-container mb-2">
                                            {% if "placeholder" in bake.featured_image.url %}
                                            <img class="card-img-top"
                                                src="https://res.cloudinary.com/frankiesanjana/image/upload/v1664720616/cookie-cutter-shapes_wfmdht.jpg" 
                                                    alt="Dough with cookie shapes cut out">
                                            {% else %}
                                            <img class="card-img-top" src=" {{ bake.featured_image.url }}" alt="{{ bake.title }}">
                                            {% endif %}
                                        </div>
                                        <a href="{% url 'bake-detail' bake.slug %}" class="bake-link">
                                            <h2 class="card-title text-truncate">{{ bake.title }}</h2>
                                        </a>
                                        <hr>
                                        <p class="author h6">Author: {{ bake.author }}</p>
                                        <p class="card-text">{{ bake.created_on}}</p> 
                                    </div>
                                </div>
                                <div>
                                    {% if user.is_authenticated and request.user == bake.author %}
                                        <a class="btn" href="{% url 'edit-bake' bake.slug %}">Edit</a>
                                        <a class="btn" href="{% url 'delete-bake' bake.slug %}">Delete</a>
                                    {% endif %}
                                </div>
                            </div>    
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>
                        You are not currently logged in. Please <a href="{% url 'account_login' %}">log in</a> to view your starred bakes.
                    </p>
                {% endif %}
                
            </div>
        </div>
    </div>
    <!-- Pagination code from Code Institute's I Think Therefore I Blog walkthrough project -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}


